:root {
  --main-color: #a30008;
}
.image{
  margin:auto;
  border: 1px solid #666;
  border-radius: 4px;
}
.weather-current__description{
  text-transform: uppercase;
  font-weight: bold;
  color:var(--main-color)
}

.weather-current__temp-m{
  font-size: 18px;
  font-weight: bold;
  color:var(--main-color)
}
.weather-current__temp-m span{
  font-size: 22px;
  color:#000;
}
.weather-current__table{
  width: 100%;
}
.weather-current__table td:nth-child(1){
  text-align: left;
}
.weather-current__table td:nth-child(2) { 
 font-size: 20px; 
 text-align: right;
}
.weather-current__table tr:last-child td{
  border:none;
}