
.current-weather{
  margin-bottom: 20px;
}
.current-weather__description{
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color:var(--main-color)
}

.current-weather__temp-m{
  font-size: 18px;
  font-weight: bold;
  color: #000;  
  text-align: center;
}
.current-weather__table{
  width: 100%;
}
.current-weather__table td:nth-child(1){
  text-align: left;
}
.current-weather__table td:nth-child(2) { 
 font-size: 20px; 
 text-align: right;
}
.current-weather__table tr:last-child td{
  border:none;
}

.onecall-weather{
  margin-bottom: 20px;
}
.onecall-weather__date{
  font-size: 18px;
  color:var(--main-color);
}
.onecall-weather__temp{
  font-size: 12px;
  text-align: center;
}
.onecall-weather__description{
  text-transform: uppercase;
  text-align: center;
  color:var(--main-color);
  margin-bottom: 5px;
}